.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketch-container {
  width: 560px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.btn-reset {
  margin-top: 10px;
}

.input-gridsize {
  width: 100px;
}
