.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketch-container {
  width: 560px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  outline: 2px solid grey;
}
